<div class="ui inverted segment">
  <div class="ui inverted secondary menu">
    <a routerLink="/elements" routerLinkActive="active" class="item"
      >Elements</a
    >
    <a class="item" routerLinkActive="active" routerLink="/collections"
      >Collections</a
    >
    <a class="item" routerLinkActive="active" routerLink="/views">Views</a>
    <a class="item" routerLink="/modules" routerLinkActive="active">Modules</a>
  </div>
</div>
<div class="ui segment">
  <router-outlet></router-outlet>
</div>
